{% extends "base.html" %}

{% block title %}Головна — Oderman{% endblock %}

{% block content %}
    <h1>Піцерія Oderman</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg" alt="Піца" class="main-image"><br>
    <a href="{{ url_for('menu') }}" class="menu-button">Меню</a>
    <a href="{{ url_for('poll') }}" class="menu-button">Опитування</a>
    <a href="{{ url_for('results') }}" class="menu-button">Результати</a>
    <a href="{{ url_for('feedback') }}" class="menu-button">Написати відгук</a>
    <a href="{{ url_for('show_feedbacks') }}" class="menu-button">Відгуки</a>
{% endblock %}
